.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid;
  pointer-events: auto;
}

.field {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.warning {
  color: var(--ood-color-yellow);
}
