.planet, .spacelane {
  cursor: pointer;
}

.planet {
  r: calc(0.1rem / var(--ood-galaxy-map-zoom-factor));
  transition: r 0.1s;
}

.spacelane {
  stroke-width: 0.04rem;
  vector-effect: non-scaling-stroke;
}