.planet,
.spacelane {
  cursor: pointer;
}

.planet {
  r: calc(0.1rem / var(--ood-galaxy-map-zoom-factor));
  transition: r 0.1s;
}

.selected {
  r: calc(0.2rem / var(--ood-galaxy-map-zoom-factor));
}

.spacelane {
  stroke-width: 0.1rem;
  vector-effect: non-scaling-stroke;
}
