div.container {
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  max-height: 100vh;
  height: 74vh;
  border: 1px solid;
  position: relative;
}

div.mapOverlay {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  right: 0.2rem;
  z-index: 1;
  height: 0;
  overflow: visible;
  /* background: rgba(0, 0, 0, 0.5); */
  /* pointer-events: none; */
}

.optionsWindow {
  float: right;
  border: 1px solid;
  padding: 0.2rem;
}

.optionsWindow button {
  border: none;
}

.optionsWindowContent {
  /* padding: 0.4em; */
  display: flex;
  flex-direction: column;
}

.optionsWindowContent select {
  float: right;
  margin-left: 1rem;
}
