name: Test
permissions: read-all
on: pull_request
jobs:
  check-release-match:
    runs-on: ubuntu-latest
    name: Check Release Versions Match
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Compare versions
        run: python ci/check_versions.py
